{% for product in data.products %}
<div class="col-12 col-lg-4 mt-5">
    <div class="card bg-light border border-white">
        <img class="card-img-top" src="/catalog/view/theme/montazh/image/r42.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Типовой проект #</h5>
            <p class="card-text">Sagittis, etiam purus sit turpis Sagittis, etiam purus sit turpis</p>
            <h5 class="mb-4 font-weight-bold">От 2 500 000 руб</h5>
            <a href="#" class="btn btn-primary">Смотреть проект</a>
        </div>
    </div>
</div>
{% endfor %}
